ETRADE_CONSUMER_KEY=
ETRADE_CONSUMER_SECRET=
ETRADE_ENV=sandbox

ACTIVE_STRATEGY=opening_range_vwap_momentum_v1
TRADING_MODE=SIGNAL_ONLY
ENABLE_LIVE_TRADING=false
ALPACA_DATA_FEED=iex

ALPACA_API_KEY=
ALPACA_SECRET_KEY=

ORVWAP_TARGET_R=1.5
ORVWAP_USE_TRAILING_AFTER_1R=false
ORVWAP_MAX_SPREAD_PCT=0.15
ORVWAP_MIN_VOLUME_RATIO=1.5
ORVWAP_OR_BREAKOUT_BUFFER_PCT=0.0
ORVWAP_MAX_VWAP_EXTENSION_ATR=1.5
ORVWAP_RISK_PER_TRADE_PCT=0.00375
